microsevices/spring-boot/spring-boot-microservice-city/src/main/resources/service-api-definition/CityWebService.wadl

<?xml version='1.0' encoding='UTF-8'?>
<application xmlns="http://wadl.dev.java.net/2009/02" xmlns:ns="http://wadl.city.letsgo.igo.org/">
    <grammars>
        <xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
                   xmlns:tns="http://org.igo.letsgo.spring.boot.rest" attributeFormDefault="unqualified" elementFormDefault="unqualified"
                   targetNamespace="http://org.igo.letsgo.spring.boot.rest">
            <xs:element name="thecity" type="tns:city"/>
            <xs:complexType name="city">
                <xs:sequence>
                    <xs:element name="cityName" type="xs:string"/>
                    <xs:element name="id" type="xs:int"/>
                </xs:sequence>
            </xs:complexType>
        </xs:schema>
    </grammars>
    <resources base="http://localhost:8080/services/rest">
        <resource path="/">
            <resource path="city">
                <method name="GET">
                    <response>
                        <representation mediaType="text/plain;charset=UTF-8"/>
                    </response>
                </method>
            </resource>
            <resource path="city/name/{name}">
                <method name="GET">
                    <request>
                        <param name="name" style="query" type="xs:string"/>
                    </request>
                    <response>
                        <representation mediaType="text/plain;charset=UTF-8"/>
                    </response>
                </method>
            </resource>
            <resource path="city/{id}">
                <method name="GET">
                    <request>
                        <param name="id" style="query" type="xs:int"/>
                    </request>
                    <response>
                        <representation mediaType="text/plain;charset=UTF-8"/>
                    </response>
                </method>
            </resource>
        </resource>
    </resources>
</application>